<div class="row">
  <div class="col-xs-12">
    <img [src]="recip.imagePath" alt="{{recip.name}}" class="img-reponsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recip.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- <div class="btn-group open" appDropDown>
  
      <button type="button" class="btn btn-primary dropdown-toggle" >Manage recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shoping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div> -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">To Shoping listn</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>
      </div>
    </div> 
    <!-- <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Dropdown button
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </div> -->

    
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recip.description}}
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>